if trackLayout.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [trackLayout.item],
        'Track Layout',
        `The lap time was achieved on the »${trackLayout.item.fields.name}« layout of the race track.`,
        trackLayout.thumbnails,
        trackLayout.node_properties,
    )
