- sectionHeadline = 'Session Result'
- sectionIntro = `This lap time was achieved in the context of the following session result.`
- nodeType = 'session-result'
- nodeUrlBasePath = 'session-results'
- thumbnails = relationships.session_result.thumbnails
- nodeProperties = relationships.session_result.node_properties
- nodeItems = [sessionResult]
- itemHeadlineProperty = 'driver_name'
include ../../shared/connected-nodes-section
