include ../../shared/connected-nodes-section
+connected-nodes-section(
    [trackLayout],
    'Track Layout',
    `The lap time was achieved on the following layout.`,
    relationships.track_layout.thumbnails,
    relationships.track_layout.node_properties,
)
