include ../../shared/connected-nodes-section
+connected-nodes-section(
    [sessionResult],
    'Session Result',
    `This lap time was achieved in the context of the following session result.`,
    'session-result',
    relationships.session_result.thumbnails,
    relationships.session_result.node_properties,
)
