- sectionHeadline = 'Track Layout'
- sectionIntro = `The lap time was achieved on the following layout.`
- nodeType = 'track-layout'
- thumbnails = relationships.track_layout.thumbnails
- nodeProperties = relationships.track_layout.node_properties
- nodeItems = [trackLayout]
include ../../shared/connected-nodes-section
