if sessionResult.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [sessionResult.item],
        'Session Result',
        `The lap time was achieved in the context of the following session result.`,
        sessionResult.thumbnails,
        sessionResult.node_properties,
    )
