extends ../../node-types/detail-page

block relationships
    - lapTime = node.data.fields

    - carModelVariant = relationships.car_model_variant
    include connected-car-model-variant

    - trackLayout = relationships.track_layout
    include connected-track-layout

    - sessionResult = relationships.session_result
    include connected-session-result

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
