extends ../../node-types/detail-page

block relationships
    - lapTime = node.data

    - carModelVariant = relationships.car_model_variant.item
    include connected-car-model-variant

    - trackLayout = relationships.track_layout.item
    include connected-track-layout

    - sessionResult = relationships.session_result.item
    include connected-session-result

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include ../../shared/connected-videos
