extends ../../node-types/detail-page

block sub_headline
    - lapTime = node.data
    div(class="mb-4 text-sm") #{formatTime(lapTime.time)}

block relationships
    - lapTime = node.data

    - sessionResult = relationships.session_result.item
    include connected-session-result
