extends ../../layouts/base/layout

block main
    div(class="grid grid-cols-2 gap-8 mx-8" data-testid="contact")
        section
            h1(class="text-2xl") 🇩🇪 Impressum
            h2(class="text-xl mt-3") Anschrift
            ul
                li Dennis Gerike
                li Krautstr. 53
                li 10243 Berlin
                li Deutschland

            h2(class="text-xl mt-3") Kontakt
            ul
                li info@more-cars.net
                li
                    a(class="underline decoration-zinc-300 hover:decoration-zinc-800" href="https://more-cars.net")  more-cars.net

        section
            h1(class="text-2xl") 🇬🇧 Legal Notice
            h2(class="text-xl mt-3") Address
            ul
                li Dennis Gerike
                li Krautstr. 53
                li 10243 Berlin
                li Germany

            h2(class="text-xl mt-3") Contact
            ul
                li info@more-cars.net
                li
                    a(class="underline decoration-zinc-300 hover:decoration-zinc-800" href="https://more-cars.net")  more-cars.net
