include ../../shared/connected-nodes-section
+connected-nodes-section(
    gamingPlatforms.items,
    'Gaming Platforms',
    `»${racingGame.name}« was released on the following platforms.`,
    gamingPlatforms.thumbnails,
    gamingPlatforms.node_properties,
)
