include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModelVariants,
    'Car Model Variants',
    `The following cars are available in "${racingGame.name}".`,
    'car-model-variant',
    relationships.car_model_variants.thumbnails,
    relationships.car_model_variants.node_properties,
)
