include ../../shared/connected-nodes-section
+connected-nodes-section(
    trackLayouts.items,
    'Track Layouts',
    `Players can race on the following race track variants in »${racingGame.name}«.`,
    trackLayouts.thumbnails,
    trackLayouts.node_properties,
)
