- sectionHeadline = 'Track Layouts'
- sectionIntro = `The following track layouts are available in "${racingGame.name}".`
- nodeType = 'track-layout'
- nodeUrlBasePath = 'track-layouts'
- thumbnails = relationships.track_layouts.thumbnails
- nodeProperties = relationships.track_layouts.node_properties
- nodeItems = trackLayouts
include ../../shared/connected-nodes-section
