include ../../shared/connected-nodes-section
+connected-nodes-section(
    gamingPlatforms,
    'Gaming Platforms',
    `"${racingGame.name}" was released on the following platforms.`,
    relationships.gaming_platforms.thumbnails,
    relationships.gaming_platforms.node_properties,
)
