- sectionHeadline = 'Car Model Variants'
- sectionIntro = `The following cars are available in "${racingGame.name}".`
- nodeType = 'car-model-variant'
- thumbnails = relationships.car_model_variants.thumbnails
- nodeProperties = relationships.car_model_variants.node_properties
- nodeItems = carModelVariants
include ../../shared/connected-nodes-section
