- sectionHeadline = 'Gaming Platforms'
- sectionIntro = `"${racingGame.name}" was released on the following platforms.`
- nodeType = 'gaming-platform'
- thumbnails = relationships.gaming_platforms.thumbnails
- nodeProperties = relationships.gaming_platforms.node_properties
- nodeItems = gamingPlatforms
include ../../shared/connected-nodes-section
