include ../../shared/connected-nodes-section
+connected-nodes-section(
    trackLayouts,
    'Track Layouts',
    `The following track layouts are available in "${racingGame.name}".`,
    relationships.track_layouts.thumbnails,
    relationships.track_layouts.node_properties,
)
