include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModelVariants.items,
    'Car Model Variants',
    `The following cars are available in the racing game »${racingGame.name}«.`,
    carModelVariants.thumbnails,
    carModelVariants.node_properties,
)
