extends ../../node-types/detail-page

block relationships
    - racingGame = node.data

    - carModelVariants = relationships.car_model_variants.items
    include connected-car-model-variants

    - trackLayouts = relationships.track_layouts.items
    include connected-track-layouts

    - gamingPlatforms = relationships.gaming_platforms.items
    include connected-gaming-platforms

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
