extends ../../node-types/detail-page

block relationships
    - racingGame = node.data.fields

    - carModelVariants = relationships.car_model_variants
    include connected-car-model-variants

    - trackLayouts = relationships.track_layouts
    include connected-track-layouts

    - gamingPlatforms = relationships.gaming_platforms
    include connected-gaming-platforms

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
