include ../../shared/connected-nodes-section
- introTextParts = []
- if (magazine.item) introTextParts.push(`The following car model variants are presented in this »${magazine.item.fields.name}« issue.`)
- if (!magazine.item) introTextParts.push(`The following car model variants are presented in this issue.`)
+connected-nodes-section(
    carModelVariants.items,
    'Car Model Variants',
    introTextParts.join(' '),
    carModelVariants.thumbnails,
    carModelVariants.node_properties,
)
