- sectionHeadline = 'Magazine'
- sectionIntro = `This issue belongs to the following magazine.`
- nodeType = 'magazine'
- nodeUrlBasePath = 'magazines'
- thumbnails = relationships.magazine.thumbnails
- nodeProperties = relationships.magazine.node_properties
- nodeItems = [magazine]
include ../../shared/connected-nodes-section
