- sectionHeadline = 'Racing Events'
- sectionIntro = `This issue covers the following racing events.`
- nodeType = 'racing-event'
- thumbnails = relationships.racing_events.thumbnails
- nodeProperties = relationships.racing_events.node_properties
- nodeItems = racingEvents
include ../../shared/connected-nodes-section
