include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingEvents.items,
    'Racing Events',
    `This issue covers the following racing events.`,
    racingEvents.thumbnails,
    racingEvents.node_properties,
)
