include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingEvents,
    'Racing Events',
    `This issue covers the following racing events.`,
    'racing-event',
    relationships.racing_events.thumbnails,
    relationships.racing_events.node_properties,
)
