include ../../shared/connected-nodes-section
+connected-nodes-section(
    [predecessor],
    'Predecessor',
    `This issue is the successor of the following issue.`,
    'magazine-issue',
    relationships.predecessor.thumbnails,
    relationships.predecessor.node_properties,
    'title',
    'predecessor',
)
