- sectionHeadline = 'Predecessor'
- sectionIntro = `This issue is the successor of the following issue.`
- nodeType = 'magazine-issue'
- nodeUrlBasePath = 'magazine-issues'
- thumbnails = relationships.predecessor.thumbnails
- nodeProperties = relationships.predecessor.node_properties
- nodeItems = [predecessor]
- itemHeadlineProperty = 'title'
include ../../shared/connected-nodes-section
