include ../../shared/connected-nodes-section
- introTextParts = []
- introTextParts.push(`This issue has documented the following lap times.`)
+connected-nodes-section(
    lapTimes.items,
    'Lap Times',
    introTextParts.join(' '),
    lapTimes.thumbnails,
    lapTimes.node_properties,
)
