include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModels,
    'Car Models',
    `This magazine issue covers the following car models.`,
    'car-model',
    relationships.car_models.thumbnails,
    relationships.car_models.node_properties,
)
