include ../../shared/connected-nodes-section
+connected-nodes-section(
    ratings,
    'Ratings',
    `This issue gave the following ratings.`,
    relationships.ratings.thumbnails,
    relationships.ratings.node_properties,
)
