include ../../shared/connected-nodes-section
- introTextParts = []
- if (magazine) introTextParts.push(`The »${magazine.item.fields.name}« gave the following ratings for the car model variants that were tested in this issue.`)
- if (!magazine) introTextParts.push(`The following ratings were given for the car model variants that were tested in this issue.`)
+connected-nodes-section(
    ratings.items,
    'Ratings',
    introTextParts.join(' '),
    ratings.thumbnails,
    ratings.node_properties,
)
