include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModelVariants,
    'Car Model Variants',
    `The following cars are presented in this issue of the magazine.`,
    relationships.car_model_variants.thumbnails,
    relationships.car_model_variants.node_properties,
)
