include ../../shared/connected-nodes-section
+connected-nodes-section(
    [magazine],
    'Magazine',
    `This issue belongs to the following magazine.`,
    relationships.magazine.thumbnails,
    relationships.magazine.node_properties,
)
