include ../../shared/connected-nodes-section
+connected-nodes-section(
    [successor],
    'Successor',
    `This issue is the predecessor of the following issue.`,
    'magazine-issue',
    relationships.successor.thumbnails,
    relationships.successor.node_properties,
    'successor',
)
