include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModels.items,
    'Car Models',
    `This issue covers the following car models.`,
    carModels.thumbnails,
    carModels.node_properties,
)
