- sectionHeadline = 'Ratings'
- sectionIntro = `This issue gave the following ratings.`
- nodeType = 'rating'
- nodeUrlBasePath = 'ratings'
- thumbnails = relationships.ratings.thumbnails
- nodeProperties = relationships.ratings.node_properties
- nodeItems = ratings
- itemHeadlineProperty = 'rating_value'
include ../../shared/connected-nodes-section
