extends ../../node-types/detail-page

block relationships
    - magazineIssue = node.data.fields

    - magazine = relationships.magazine
    include connected-magazine

    - carModelVariants = relationships.car_model_variants
    include connected-car-model-variants

    - carModels = relationships.car_models
    include connected-car-models

    - predecessor = relationships.predecessor
    include connected-predecessor

    - successor = relationships.successor
    include connected-successor

    - ratings = relationships.ratings
    include connected-ratings

    - racingEvents = relationships.racing_events
    include connected-racing-events

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
