extends ../../node-types/detail-page

block relationships
    - magazineIssue = node.data

    - magazine = relationships.magazine.item
    include connected-magazine

    - predecessor = relationships.predecessor.item
    include connected-predecessor

    - successor = relationships.successor.item
    include connected-successor

    - carModels = relationships.car_models.items
    include connected-car-models

    - carModelVariants = relationships.car_model_variants.items
    include connected-car-model-variants

    - ratings = relationships.ratings.items
    include connected-ratings

    - racingEvents = relationships.racing_events.items
    include connected-racing-events

    - images = relationships.images.items
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include ../../shared/connected-videos
