extends ../../node-types/detail-page

block sub_headline
    - magazineIssue = node.data
    | Issue #{magazineIssue.issue_number}/#{magazineIssue.issue_year} | #{magazineIssue.pages} pages

block relationships
    - magazineIssue = node.data

    - magazine = relationships.magazine.item
    include connected-magazine

    - predecessor = relationships.predecessor.item
    include connected-predecessor

    - successor = relationships.successor.item
    include connected-successor

    - carModels = relationships.car_models.items
    include connected-car-models

    - carModelVariants = relationships.car_model_variants.items
    include connected-car-model-variants

    - racingEvents = relationships.racing_events.items
    include connected-racing-events

    - images = relationships.images.items
    include ../../shared/connected-images
