include ../../shared/connected-nodes-section
+connected-nodes-section(
    nodes.items,
    'Nodes',
    `This image is connected to the following nodes.`,
    nodes.thumbnails,
    nodes.node_properties,
    'node',
)
