if brands.length > 0
    section(data-testid="brand-section" class="mb-8")
        h2(class="text-2xl mb-2 border-b-2 border-lime-500") Brands
        p(class="mb-4") This image is connected to the following #{brands.length} brands:

        ul
            each nodeItem in brands
                - nodeType = 'brand'
                - nodeUrlPath = 'brands/' + nodeItem.id
                - thumbnail = relationships.brands.thumbnails.get(nodeItem.id)
                - nodeProperties = relationships.brands.node_properties
                include ../../shared/list-node-item
