include ../../shared/connected-nodes-section
+connected-nodes-section(
    nodes,
    'Nodes',
    `This image is connected to the following nodes.`,
    'node',
    relationships.nodes.thumbnails,
    relationships.nodes.node_properties,
)
