- sectionHeadline = 'Nodes'
- sectionIntro = `This image is connected to the following nodes.`
- nodeType = 'node'
- nodeUrlBasePath = 'nodes'
- thumbnails = relationships.nodes.thumbnails
- nodeProperties = relationships.nodes.node_properties
- nodeItems = nodes
include ../../shared/connected-nodes-section
