extends ../../node-types/detail-page

block sub_headline
    - image = node.data
    div(class="mb-4 text-sm") #{image.license} | #{image.creator} | via #{image.image_provider}

block relationships
    - image = node.data

    - brands = relationships.brands.items
    include connected-brands

    - carModels = relationships.car_models.items
    include connected-car-models
