if node_collection.length === 0
    include ../../shared/nodes-not-found-warning
    +nodes-not-found-warning("image")
else
    section(data-testid="image-section")
        ul(class="grid lg:grid-cols-2 gap-x-8 gap-y-2")
            each nodeItem in node_collection
                - nodeType = 'image'
                - nodeUrlPath = 'images/' + nodeItem.id
                - thumbnail = nodeItem
                - nodeProperties = node_properties
                include ../../shared/list-node-item

    include ../../shared/pagination
    +pagination('images', pagination.page, pagination.total)
