extends ../../../layouts/base/layout

block main
    h1(class=`
        text-center
        mb-8
        text-3xl
        font-bold
        underline`) All Images
    include image-list

block footer
    p Footer area...
