include ../../shared/connected-nodes-section
+connected-nodes-section(
    [magazineIssue],
    'Magazine Issue',
    `This rating was given by the following car magazine issue.`,
    'magazine-issue',
    relationships.magazine_issue.thumbnails,
    relationships.magazine_issue.node_properties,
    'title',
)
