include ../../shared/connected-nodes-section
+connected-nodes-section(
    [magazineIssue.item],
    'Magazine Issue',
    `The following car magazine issue gave this rating to the »${carModelVariant.item.fields.name}«.`,
    'magazine-issue',
    magazineIssue.thumbnails,
    magazineIssue.node_properties,
    'title',
)
