extends ../../node-types/detail-page

block relationships
    - rating = node.data

    - carModelVariant = relationships.car_model_variant.item
    include connected-car-model-variant

    - magazineIssue = relationships.magazine_issue.item
    include connected-magazine-issue

    - images = relationships.images.items
    include ../../shared/connected-images
