extends ../../node-types/detail-page

block sub_headline
    - rating = node.data
    | #{Math.round(rating.rating_value / (rating.scale_maximum - rating.scale_minimum) * 100 * 100) / 100} Percent

block relationships
    - rating = node.data

    - carModelVariant = relationships.car_model_variant.item
    include connected-car-model-variant

    - magazineIssue = relationships.magazine_issue.item
    include connected-magazine-issue

    - images = relationships.images.items
    include ../../shared/connected-images
