include ../../shared/connected-nodes-section
+connected-nodes-section(
    [racingSession],
    'Racing Session',
    `${sessionResult.driver_name} achieved this result in the following racing session.`,
    relationships.racing_session.thumbnails,
    relationships.racing_session.node_properties,
)
