if racingSession.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [racingSession.item],
        'Racing Session',
        `${sessionResult.driver_name} achieved this result in a »${racingSession.item.fields.name}« session.`,
        racingSession.thumbnails,
        racingSession.node_properties,
    )
