- sectionHeadline = 'Racing Session'
- sectionIntro = `${sessionResult.driver_name} achieved this result in the following racing session.`
- nodeType = 'racing-session'
- nodeUrlBasePath = 'racing-sessions'
- thumbnails = relationships.racing_session.thumbnails
- nodeProperties = relationships.racing_session.node_properties
- nodeItems = [racingSession]
include ../../shared/connected-nodes-section
