include ../../shared/connected-nodes-section
+connected-nodes-section(
    lapTimes.items,
    'Lap Times',
    `The driver achieved the following lap times in this session.`,
    lapTimes.thumbnails,
    lapTimes.node_properties,
)
