include ../../shared/connected-nodes-section
+connected-nodes-section(
    lapTimes,
    'Lap Times',
    `The following lap times were achieved on the way to this session result.`,
    'lap-time',
    relationships.lap_times.thumbnails,
    relationships.lap_times.node_properties,
)
