extends ../../node-types/detail-page

block sub_headline
    - sessionResult = node.data
    div(class="mb-4 text-sm") #{ordinalize(sessionResult.position)} place | #{sessionResult.team_name}

block relationships
    - sessionResult = node.data

    - racingSession = relationships.racing_session.item
    include connected-racing-session

    - carModelVariant = relationships.car_model_variant.item
    include connected-car-model-variant

    - lapTimes = relationships.lap_times.items
    include connected-lap-times

    - images = relationships.images.items
    include ../../shared/connected-images
