extends ../../node-types/detail-page

block sub_headline
    - sessionResult = node.data
    div(class="mb-4 text-sm") #{ordinalize(sessionResult.position)} place | #{sessionResult.team_name}

block relationships
    - sessionResult = node.data

    - racingSession = relationships.racing_session.item
    include connected-racing-session

    - images = relationships.images.items
    include ../../shared/connected-images
