if node_collection.length === 0
    include ../../shared/nodes-not-found-warning
    +nodes-not-found-warning("session result")
else
    section(data-testid="session-result-section")
        ul(class="grid lg:grid-cols-2 gap-x-8 gap-y-2")
            each nodeItem in node_collection
                - nodeType = 'session-result'
                - nodeUrlPath = 'session-results/' + nodeItem.id
                - nodeProperties = node_properties
                - itemHeadline = nodeItem.driver_name
                include ../../shared/list-node-item

    include ../../shared/pagination
    +pagination('session-results', pagination.page, pagination.total)
