- sectionHeadline = 'Racing Games'
- sectionIntro = `For the "${gamingPlatform.name}" gaming platform the following racing games were released.`
- nodeType = 'racing-game'
- nodeUrlBasePath = 'racing-games'
- thumbnails = relationships.racing_games.thumbnails
- nodeProperties = relationships.racing_games.node_properties
- nodeItems = racingGames
include ../../shared/connected-nodes-section
