include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingGames,
    'Racing Games',
    `For the "${gamingPlatform.name}" gaming platform the following racing games were released.`,
    'racing-game',
    relationships.racing_games.thumbnails,
    relationships.racing_games.node_properties,
)
