include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingGames.items,
    'Racing Games',
    `The following racing games were released for the gaming platform »${gamingPlatform.name}«.`,
    racingGames.thumbnails,
    racingGames.node_properties,
)
