extends ../../node-types/detail-page

block relationships
    - gamingPlatform = node.data

    - racingGames = relationships.racing_games.items
    include connected-racing-games

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include ../../shared/connected-videos
