include ../../shared/connected-nodes-section
+connected-nodes-section(
    trackLayouts.items,
    'Track Layouts',
    `The following variants exist of the »${raceTrack.name}« or have existed in the history of the course.`,
    trackLayouts.thumbnails,
    trackLayouts.node_properties,
)
