include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingEvents.items,
    'Racing Events',
    `Among others, this race track hosted the following motorsport events.`,
    racingEvents.thumbnails,
    racingEvents.node_properties,
)
