include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingEvents,
    'Racing Events',
    `The following racing events where held on this race track.`,
    'racing-event',
    relationships.racing_events.thumbnails,
    relationships.racing_events.node_properties,
)
