extends ../../node-types/detail-page

block sub_headline
    - raceTrack = node.data
    div(class="mb-4 text-sm") #{raceTrack.location}

block relationships
    - raceTrack = node.data

    - images = relationships.images.items
    include ../../shared/connected-images
