extends ../../node-types/detail-page

block sub_headline
    - raceTrack = node.data
    div(class="mb-4 text-sm") #{raceTrack.location}

block relationships
    - raceTrack = node.data

    - trackLayouts = relationships.track_layouts.items
    include connected-track-layouts

    - images = relationships.images.items
    include ../../shared/connected-images
