extends ../../node-types/detail-page

block relationships
    - raceTrack = node.data

    - trackLayouts = relationships.track_layouts.items
    include connected-track-layouts

    - racingEvents = relationships.racing_events.items
    include connected-racing-events

    - images = relationships.images.items
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include ../../shared/connected-videos
