extends ../../layouts/base/layout

block main
    - item = node.data
    - mainImage = node.main_image

    div(class="grid grid-cols-2 gap-10 items-start")
        div(data-testid="main-area-primary")
            h1(class=`text-left mb-1 text-3xl font-bold`) #{main_headline || item.name}
            block sub_headline
            include ../shared/connected-main-image
            include ../shared/fact-sheet

        div(data-testid="main-area-secondary")
            block relationships

block footer
    p Footer area...
