extends ../../layouts/base/layout

block main
    h1(class="text-center mb-8 text-3xl font-bold") #{main_headline}

    if node_collection.length === 0
        include ../shared/nodes-not-found-warning
        +nodes-not-found-warning(node_type)
    else
        section(data-testid=`${node_type}-section`)
            ul(class="grid lg:grid-cols-2 gap-x-8 gap-y-2")
                each node in node_collection
                    - nodeType = node_type
                    - nodeData = node.fields
                    - itemHeadline = node_titles.get(nodeData.id)
                    - thumbnail = thumbnails ? thumbnails.get(nodeData.id) : null
                    - nodeProperties = node_properties
                    include ../shared/list-node-item

        include ../shared/pagination
        +pagination(node_type, pagination.page, pagination.total)

block footer
    p Footer area...
