if raceTrack.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [raceTrack.item],
        'Race Track',
        `The »${trackLayout.name}« is one layout of the »${raceTrack.item.fields.name}«.`,
        raceTrack.thumbnails,
        raceTrack.node_properties,
    )
