include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingEvents,
    'Racing Events',
    `The track layout "${trackLayout.name}" was used in the following racing events.`,
    relationships.racing_events.thumbnails,
    relationships.racing_events.node_properties,
)
