include ../../shared/connected-nodes-section
+connected-nodes-section(
    [raceTrack],
    'Race Track',
    `The "${trackLayout.name}" is one of the layouts that exist for the "${raceTrack?.name}" race track.`,
    'race-track',
    relationships.race_track.thumbnails,
    relationships.race_track.node_properties,
)
