include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingEvents.items,
    'Racing Events',
    `The »${trackLayout.name}« variant of the race track was used in the following motorsport events.`,
    racingEvents.thumbnails,
    racingEvents.node_properties,
)
