- sectionHeadline = 'Race Track'
- sectionIntro = `The "${trackLayout.name}" is one of the layouts that exist for the "${raceTrack?.name}" race track.`
- nodeType = 'race-track'
- nodeUrlBasePath = 'race-tracks'
- thumbnails = relationships.race_track.thumbnails
- nodeProperties = relationships.race_track.node_properties
- nodeItems = [raceTrack]
include ../../shared/connected-nodes-section
