- sectionHeadline = 'Racing Games'
- sectionIntro = `The layout "${trackLayout.name}" is featured in the following racing games.`
- nodeType = 'racing-game'
- nodeUrlBasePath = 'racing-games'
- thumbnails = relationships.racing_games.thumbnails
- nodeProperties = relationships.racing_games.node_properties
- nodeItems = racingGames
include ../../shared/connected-nodes-section
