include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingGames,
    'Racing Games',
    `The layout "${trackLayout.name}" is featured in the following racing games.`,
    'racing-game',
    relationships.racing_games.thumbnails,
    relationships.racing_games.node_properties,
)
