include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingGames.items,
    'Racing Games',
    `The layout "${trackLayout.name}" is featured in the following racing games.`,
    racingGames.thumbnails,
    racingGames.node_properties,
)
