- sectionHeadline = 'Videos'
- sectionIntro = `This track layout has the following videos.`
- nodeType = 'video'
- thumbnails = relationships.videos.thumbnails
- nodeProperties = relationships.videos.node_properties
- nodeItems = videos
- itemHeadlineProperty = 'title'
include ../../shared/connected-nodes-section
