if node_collection.length === 0
    include ../../shared/nodes-not-found-warning
    +nodes-not-found-warning("track layout")
else
    section(data-testid="track-layout-section")
        ul(class="grid lg:grid-cols-2 gap-x-8 gap-y-2")
            each nodeItem in node_collection
                - nodeType = 'track-layout'
                - nodeUrlPath = 'track-layouts/' + nodeItem.id
                - thumbnail = thumbnails.get(nodeItem.id)
                - nodeProperties = node_properties
                include ../../shared/list-node-item

    include ../../shared/pagination
    +pagination('track-layouts', pagination.page, pagination.total)
