extends ../../node-types/detail-page

block sub_headline
    - trackLayout = node.data
    div(class="mb-4 text-sm") #{trackLayout.length} #{trackLayout.length_unit} | #{trackLayout.year_from} - #{trackLayout.year_to}

block relationships
    - trackLayout = node.data
