apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - frontend-service.yaml
  - frontend-deployment.yaml

patches:
  - path: patch.json
    target:
      kind: Deployment
      name: frontend-deployment
