apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - frontend-ingress.yaml
  - frontend-service.yaml
  - frontend-deployment.yaml

patches:
  - path: deployment.patch.json
    target:
      kind: Deployment
      name: frontend-deployment
  - path: ingress.patch.json
    target:
      kind: Ingress
      name: frontend-ingress
