apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - frontend-http-route.yaml
  - frontend-https-route.yaml
  - frontend-service.yaml
  - frontend-deployment.yaml

patches:
  - path: deployment.patch.json
    target:
      kind: Deployment
      name: frontend-deployment
  - path: http-route.patch.json
    target:
      kind: HTTPRoute
      name: frontend-http
  - path: https-route.patch.json
    target:
      kind: HTTPRoute
      name: frontend-https
