extends ../../node-types/detail-page

block relationships
    - carModelVariant = node.data

    - carModel = relationships.car_model.item
    include connected-car-model

    - magazineIssues = relationships.magazine_issues.items
    include connected-magazine-issues

    - ratings = relationships.ratings.items
    include connected-ratings

    - prices = relationships.prices.items
    include connected-prices

    - programmeEpisodes = relationships.programme_episodes.items
    include connected-programme-episodes

    - lapTimes = relationships.lap_times.items
    include connected-lap-times

    - sessionResults = relationships.session_results.items
    include connected-session-results

    - racingGames = relationships.racing_games.items
    include connected-racing-games

    - modelCars = relationships.model_cars.items
    include connected-model-cars

    - motorShows = relationships.motor_shows.items
    include connected-motor-shows

    - images = relationships.images.items
    include ../../shared/connected-images
