extends ../../node-types/detail-page

block sub_headline
    - carModelVariant = node.data
    div(class="mb-4 text-sm") #{carModelVariant.built_from} - #{carModelVariant.built_to} | #{carModelVariant.internal_code} | #{carModelVariant.transmission}

block relationships
    - carModelVariant = node.data

    - carModel = relationships.car_model.item
    include connected-car-model

    - lapTimes = relationships.lap_times.items
    include connected-lap-times

    - sessionResults = relationships.session_results.items
    include connected-session-results