extends ../../node-types/detail-page

block sub_headline
    - carModelVariant = node.data
    | #{carModelVariant.built_from} - #{carModelVariant.built_to} | #{carModelVariant.internal_code} | #{carModelVariant.transmission}

block relationships
    - carModelVariant = node.data

    - carModel = relationships.car_model.item
    include connected-car-model

    - magazineIssues = relationships.magazine_issues.items
    include connected-magazine-issues

    - lapTimes = relationships.lap_times.items
    include connected-lap-times

    - sessionResults = relationships.session_results.items
    include connected-session-results

    - racingGames = relationships.racing_games.items
    include connected-racing-games

    - images = relationships.images.items
    include ../../shared/connected-images
