include ../../shared/connected-nodes-section
+connected-nodes-section(
    sessionResults.items,
    'Session Results',
    `In motorsport events the »${carModelVariant.name}« achieved the following results.`,
    sessionResults.thumbnails,
    sessionResults.node_properties,
)
