include ../../shared/connected-nodes-section
- introTextParts = []
- if (modelCars.items.length === 1) introTextParts.push(`The More Cars database knows about one scale model of the »${carModelVariant.name}«.`)
- if (modelCars.items.length > 1) introTextParts.push(`The More Cars database knows about ${modelCars.items.length} scale models of the »${carModelVariant.name}«.`)
+connected-nodes-section(
    modelCars.items,
    'Model Cars',
    introTextParts.join(' '),
    'model-car',
    modelCars.thumbnails,
    modelCars.node_properties,
)
