- sectionHeadline = 'Motor Shows'
- sectionIntro = `The "${carModelVariant.name}" was presented at the following motor shows.`
- nodeType = 'motor-show'
- nodeUrlBasePath = 'motor-shows'
- thumbnails = relationships.motor_shows.thumbnails
- nodeProperties = relationships.motor_shows.node_properties
- nodeItems = motorShows
include ../../shared/connected-nodes-section
