include ../../shared/connected-nodes-section
+connected-nodes-section(
    sessionResults,
    'Session Results',
    `The ${carModelVariant.name} achieved the following motorsport results.`,
    'session-result',
    relationships.session_results.thumbnails,
    relationships.session_results.node_properties,
    'driver_name',
)
