- sectionHeadline = 'Prices'
- sectionIntro = `These were the official base prices for the "${carModelVariant.name}".`
- nodeType = 'price'
- thumbnails = relationships.prices.thumbnails
- nodeProperties = relationships.prices.node_properties
- nodeItems = prices
- itemHeadlineProperty = 'price'
include ../../shared/connected-nodes-section
