include ../../shared/connected-nodes-section
+connected-nodes-section(
    [carModel],
    'Car Model',
    `The ${carModelVariant.name} is a variant of the following car model.`,
    'car-model',
    relationships.car_model.thumbnails,
    relationships.car_model.node_properties,
)
