include ../../shared/connected-nodes-section
- introTextParts = []
- if (racingGames.items.length === 1) introTextParts.push(`The »${carModelVariant.name}« was featured in the following racing game.`)
- if (racingGames.items.length > 1) introTextParts.push(`The »${carModelVariant.name}« was featured in the following racing games.`)
+connected-nodes-section(
    racingGames.items,
    'Racing Games',
    introTextParts.join(' '),
    'racing-game',
    racingGames.thumbnails,
    racingGames.node_properties,
)
