- sectionHeadline = 'Session Results'
- sectionIntro = `The ${carModelVariant.name} achieved the following motorsport results.`
- nodeType = 'session-result'
- nodeUrlBasePath = 'session-results'
- thumbnails = relationships.session_results.thumbnails
- nodeProperties = relationships.session_results.node_properties
- nodeItems = sessionResults
- itemHeadlineProperty = 'driver_name'
include ../../shared/connected-nodes-section
