include ../../shared/connected-nodes-section
+connected-nodes-section(
    motorShows,
    'Motor Shows',
    `The "${carModelVariant.name}" was presented at the following motor shows.`,
    'motor-show',
    relationships.motor_shows.thumbnails,
    relationships.motor_shows.node_properties,
)
