include ../../shared/connected-nodes-section
+connected-nodes-section(
    lapTimes,
    'Lap Times',
    `The ${carModelVariant.name} has achieved the following lap times.`,
    'lap-time',
    relationships.lap_times.thumbnails,
    relationships.lap_times.node_properties,
    'driver_name',
)
