include ../../shared/connected-nodes-section
- introTextParts = []
- if (prices.items.length === 1) introTextParts.push(`The »${carModelVariant.name}« was officially sold for the following price.`)
- if (prices.items.length > 1) introTextParts.push(`The »${carModelVariant.name}« was officially sold for the following prices.`)
+connected-nodes-section(
    prices.items,
    'Prices',
    introTextParts.join(' '),
    'price',
    prices.thumbnails,
    prices.node_properties,
    'price',
)
