include ../../shared/connected-nodes-section
+connected-nodes-section(
    prices,
    'Prices',
    `These were the official base prices for the "${carModelVariant.name}".`,
    'price',
    relationships.prices.thumbnails,
    relationships.prices.node_properties,
    'price',
)
