include ../../shared/connected-nodes-section
- introTextParts = []
- if (lapTimes.items.length === 1) introTextParts.push(`The following lap time was achieved with the »${carModelVariant.name}«.`)
- if (lapTimes.items.length > 1) introTextParts.push(`The following lap times were achieved with the »${carModelVariant.name}«.`)
+connected-nodes-section(
    lapTimes.items,
    'Lap Times',
    introTextParts.join(' '),
    'lap-time',
    lapTimes.thumbnails,
    lapTimes.node_properties,
    'driver_name',
)
