include ../../shared/connected-nodes-section
- introTextParts = []
- if (programmeEpisodes.items.length === 1) introTextParts.push(`More Cars knows of one car programme episode that has featured the »${carModelVariant.name}«.`)
- if (programmeEpisodes.items.length > 1) introTextParts.push(`More Cars knows of the following car programme episodes which have featured the »${carModelVariant.name}«.`)
+connected-nodes-section(
    programmeEpisodes.items,
    'Programme Episodes',
    introTextParts.join(' '),
    'programme-episode',
    programmeEpisodes.thumbnails,
    programmeEpisodes.node_properties,
    'title',
)
