include ../../shared/connected-nodes-section
+connected-nodes-section(
    programmeEpisodes,
    'Programme Episodes',
    `This car model variant was featured in the following car programme episodes.`,
    'programme-episode',
    relationships.programme_episodes.thumbnails,
    relationships.programme_episodes.node_properties,
    'title',
)
