include ../../shared/connected-nodes-section
- introTextParts = []
- if (motorShows.items.length === 1) introTextParts.push(`The "${carModelVariant.name}" was presented at the following motor show.`)
- if (motorShows.items.length > 1) introTextParts.push(`The "${carModelVariant.name}" was presented at the following motor shows.`)
+connected-nodes-section(
    motorShows.items,
    'Motor Shows',
    introTextParts.join(' '),
    'motor-show',
    motorShows.thumbnails,
    motorShows.node_properties,
)
