- sectionHeadline = 'Lap Times'
- sectionIntro = `The ${carModelVariant.name} has achieved the following lap times.`
- nodeType = 'lap-time'
- nodeUrlBasePath = 'lap-times'
- thumbnails = relationships.lap_times.thumbnails
- nodeProperties = relationships.lap_times.node_properties
- nodeItems = lapTimes
- itemHeadlineProperty = 'driver_name'
include ../../shared/connected-nodes-section
