include ../../shared/connected-nodes-section
+connected-nodes-section(
    ratings.items,
    'Ratings',
    `Car magazines have rated the »${carModelVariant.name}« as follows.`,
    ratings.thumbnails,
    ratings.node_properties,
)
