- sectionHeadline = 'Model Cars'
- sectionIntro = `The "${carModelVariant.name}" has the following "model cars".`
- nodeType = 'model-car'
- nodeUrlBasePath = 'model-cars'
- thumbnails = relationships.model_cars.thumbnails
- nodeProperties = relationships.model_cars.node_properties
- nodeItems = modelCars
include ../../shared/connected-nodes-section
