include ../../shared/connected-nodes-section
- introTextParts = []
- if (magazineIssues.items.length === 1) introTextParts.push(`The »${carModelVariant.name}« was presented in the following car magazine issue.`)
- if (magazineIssues.items.length > 1) introTextParts.push(`The »${carModelVariant.name}« was presented in the following car magazine issues.`)
+connected-nodes-section(
    magazineIssues.items,
    'Magazine Issues',
    introTextParts.join(' '),
    'magazine-issue',
    magazineIssues.thumbnails,
    magazineIssues.node_properties,
)
