include ../../shared/connected-nodes-section
+connected-nodes-section(
    modelCars,
    'Model Cars',
    `The "${carModelVariant.name}" has the following "model cars".`,
    'model-car',
    relationships.model_cars.thumbnails,
    relationships.model_cars.node_properties,
)
