include ../../shared/connected-nodes-section
+connected-nodes-section(
    [predecessor],
    'Predecessor',
    `This episode follows:".`,
    relationships.predecessor.thumbnails,
    relationships.predecessor.node_properties,
)
