include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModels,
    'Car Models',
    `The following car models were presented in this episode.`,
    relationships.car_models.thumbnails,
    relationships.car_models.node_properties,
)
