include ../../shared/connected-nodes-section
+connected-nodes-section(
    [predecessor],
    'Predecessor',
    `This episode follows:".`,
    'programme-episode',
    relationships.predecessor.thumbnails,
    relationships.predecessor.node_properties,
    'title',
)
