include ../../shared/connected-nodes-section
+connected-nodes-section(
    [successor],
    'Successor',
    `This episode was followed by:`,
    relationships.successor.thumbnails,
    relationships.successor.node_properties,
)
