if successor.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [successor.item],
        'Successor',
        `This episode was followed by »${successor.item.fields.title}«:`,
        successor.thumbnails,
        successor.node_properties,
    )
