- sectionHeadline = 'Successor'
- sectionIntro = `This episode was followed by:`
- nodeType = 'programme-episode'
- nodeUrlBasePath = 'programme-episodes'
- thumbnails = relationships.successor.thumbnails
- nodeProperties = relationships.successor.node_properties
- nodeItems = [successor]
- itemHeadlineProperty = 'title'
include ../../shared/connected-nodes-section
