if predecessor.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [predecessor.item],
        'Predecessor',
        `The previous episode was »${predecessor.item.fields.title}«".`,
        predecessor.thumbnails,
        predecessor.node_properties,
    )
