- sectionHeadline = 'Programme'
- sectionIntro = `This was an episode of the following car programme.`
- nodeType = 'programme'
- thumbnails = relationships.programme.thumbnails
- nodeProperties = relationships.programme.node_properties
- nodeItems = [programme]
include ../../shared/connected-nodes-section
