include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModelVariants,
    'Car Model Variants',
    `The following car model variants were presented in this episode.`,
    relationships.car_model_variants.thumbnails,
    relationships.car_model_variants.node_properties,
)
