if programme.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [programme.item],
        'Programme',
        `This is an episode of the car programme »${programme.item.fields.name}«.`,
        programme.thumbnails,
        programme.node_properties,
    )
