include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModels.items,
    'Car Models',
    `Theis episode covered the following car models.`,
    carModels.thumbnails,
    carModels.node_properties,
)
