- sectionHeadline = 'Car Models'
- sectionIntro = `The following car models were presented in this episode.`
- nodeType = 'car-model'
- thumbnails = relationships.car_models.thumbnails
- nodeProperties = relationships.car_models.node_properties
- nodeItems = carModels
include ../../shared/connected-nodes-section
