include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModelVariants.items,
    'Car Model Variants',
    `These car model variants were presented in this episode.`,
    carModelVariants.thumbnails,
    carModelVariants.node_properties,
)
