include ../../shared/connected-nodes-section
+connected-nodes-section(
    [programme],
    'Programme',
    `This was an episode of the following car programme.`,
    'programme',
    relationships.programme.thumbnails,
    relationships.programme.node_properties,
)
