extends ../../node-types/detail-page

block relationships
    - programmeEpisode = node.data

    - programme = relationships.programme.item
    include connected-programme

    - predecessor = relationships.predecessor.item
    include connected-predecessor

    - successor = relationships.successor.item
    include connected-successor

    - carModels = relationships.car_models.items
    include connected-car-models

    - carModelVariants = relationships.car_model_variants.items
    include connected-car-model-variants

    - images = relationships.images.items
    include ../../shared/connected-images
