extends ../../node-types/detail-page

block relationships
    - programmeEpisode = node.data.fields

    - programme = relationships.programme
    include connected-programme

    - predecessor = relationships.predecessor
    include connected-predecessor

    - successor = relationships.successor
    include connected-successor

    - carModels = relationships.car_models
    include connected-car-models

    - carModelVariants = relationships.car_model_variants
    include connected-car-model-variants

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
