include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModelVariants.items,
    'Car Model Variants',
    `Among others, the following cars were presented at the »${motorShow.name}«.`,
    relationships.car_model_variants.thumbnails,
    relationships.car_model_variants.node_properties,
)
