include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModelVariants,
    'Car Model Variants',
    `The "${motorShow.name}" has the following "car model variants".`,
    relationships.car_model_variants.thumbnails,
    relationships.car_model_variants.node_properties,
)
