include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModelVariants.items,
    'Car Model Variants',
    `Among others, the following cars were presented at the »${motorShow.name}«.`,
    carModelVariants.thumbnails,
    carModelVariants.node_properties,
)
