- sectionHeadline = 'Car Model Variants'
- sectionIntro = `The "${motorShow.name}" has the following "car model variants".`
- nodeType = 'car-model-variant'
- thumbnails = relationships.car_model_variants.thumbnails
- nodeProperties = relationships.car_model_variants.node_properties
- nodeItems = carModelVariants
include ../../shared/connected-nodes-section
