extends ../../node-types/detail-page

block sub_headline
    - motorShow = node.data
    | #{formatDate(motorShow.date_from)} until #{formatDate(motorShow.date_until)}

block relationships
    - motorShow = node.data

    - carModelVariants = relationships.car_model_variants.items
    include connected-car-model-variants

    - images = relationships.images.items
    include ../../shared/connected-images
