extends ../../node-types/detail-page

block relationships
    - motorShow = node.data.fields

    - carModelVariants = relationships.car_model_variants
    include connected-car-model-variants

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
