if brands.length > 0
    section(data-testid="brand-section" class="mb-8")
        h2(class="text-2xl mb-2") Brands
        p(class="mb-4") This image is connected to the following #{brands.length} brands:
        ul
            each item in brands
                li(aria-label="brand" class="mb-4 bg-stone-100 rounded-md inset-shadow-sm" data-testid=`brand-${item.id}`)
                    div(class="grid grid-flow-col grid-cols-4 gap-4")
                        include ../nodes/thumbnail
                        div(class="col-span-3")
                            a(class="inline-block font-bold text-lg my-2 underline hover:no-underline" href=`/brands/${item.id}`)
                                span(aria-label="name") #{item.name}
                            - nodeProperties = relationships.brands.node_properties
                            include ../nodes/primary-properties
