extends ../../layouts/base/layout

block main
    h1(
        aria-label="image name"
        class=`text-center
        mb-8
        text-3xl
        font-bold`) #{node.name}
    div(class="grid grid-cols-2 gap-4 items-start")
        div
            include ../nodes/fact-sheet
        div
            include image

            - brands = relationships.brands.items
            include connected-brands

            - carModels = relationships.car_models.items
            include connected-car-models

block footer
    p Footer area...
