include ../../shared/connected-nodes-section
+connected-nodes-section(
    [modelCarBrand],
    'Model Car Brand',
    `This scale model was created by the following brand.`,
    'model-car-brand',
    relationships.model_car_brand.thumbnails,
    relationships.model_car_brand.node_properties,
)
