- sectionHeadline = 'Model Car Brand'
- sectionIntro = `This scale model was created by the following brand.`
- nodeType = 'model-car-brand'
- nodeUrlBasePath = 'model-car-brands'
- thumbnails = relationships.model_car_brand.thumbnails
- nodeProperties = relationships.model_car_brand.node_properties
- nodeItems = [modelCarBrand]
include ../../shared/connected-nodes-section
