- sectionHeadline = 'Car Model Variant'
- sectionIntro = `This scale model is based on the following car model variant.`
- nodeType = 'car-model-variant'
- thumbnails = relationships.car_model_variant.thumbnails
- nodeProperties = relationships.car_model_variant.node_properties
- nodeItems = [carModelVariant]
include ../../shared/connected-nodes-section
