include ../../shared/connected-nodes-section
+connected-nodes-section(
    [carModelVariant],
    'Car Model Variant',
    `This scale model is based on the following car model variant.`,
    relationships.car_model_variant.thumbnails,
    relationships.car_model_variant.node_properties,
)
