if modelCarBrand.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [modelCarBrand.item],
        'Model Car Brand',
        `This is a scale model from »${modelCarBrand.item.fields.name}«.`,
        modelCarBrand.thumbnails,
        modelCarBrand.node_properties,
    )
