if carModelVariant.item
    include ../../shared/connected-nodes-section
    - introTextParts = []
    - if (modelCar.scale) introTextParts.push(`This ${modelCar.scale} scale model is based on the real »${carModelVariant.item.fields.name}«.`)
    - if (!modelCar.scale) introTextParts.push(`This scale model is based on the real »${carModelVariant.item.fields.name}«.`)
    +connected-nodes-section(
        [carModelVariant.item],
        'Car Model Variant',
        introTextParts.join(' '),
        carModelVariant.thumbnails,
        carModelVariant.node_properties,
    )
