extends ../../node-types/detail-page

block relationships
    - modelCar = node.data

    - modelCarBrand = relationships.model_car_brand.item
    include connected-model-car-brand

    - carModelVariant = relationships.car_model_variant.item
    include connected-car-model-variant

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include ../../shared/connected-videos
