extends ../../node-types/detail-page

block relationships
    - modelCar = node.data.fields

    - carModelVariant = relationships.car_model_variant
    include connected-car-model-variant

    - modelCarBrand = relationships.model_car_brand
    include connected-model-car-brand

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
