doctype html
html(lang="en")
    head
        title #{pageTitle} - More Cars
        block styles
            link(rel='stylesheet', href='/stylesheets/main.css')

    body(class="bg-gray-800")
        header(class="p-8 mb-4 max-w-7xl m-auto rounded-2xl")
            div(class="logo text-5xl text-center font-bold") ‒ MORE ‒ CARS ‒

        main(class="p-8 max-w-7xl m-auto rounded-2xl")
            block main

        footer(class="text-blue-50 p-8")
            block footer
