doctype html
html(lang="en")
    head
        title #{pageTitle} - More Cars
        block styles
            link(rel='stylesheet', href='/stylesheets/main.css')

    body(class="bg-gray-800")
        main(class="p-8 bg-stone-50")
            block main

        footer(class="text-blue-50 p-8")
            block footer

        block debug
