extends ../../layouts/base/layout

block main
    - carModel = node.data
    h1(
        aria-label="car model name"
        class=`text-center
        mb-8
        text-3xl
        font-bold`) #{carModel.name}
    div(class="grid grid-cols-2 gap-4 items-start")
        div
            - item = carModel
            include ../nodes/fact-sheet
        div
            - mainImage = node.main_image
            include ../nodes/connected-main-image

            - brand = relationships.brand.item
            include connected-brand

            - predecessor = relationships.predecessor.item
            include connected-predecessor

            - successor = relationships.successor.item
            include connected-successor

            - images = relationships.images.items
            include connected-images

block footer
    p Footer area...
