li(aria-label="car-model" class="mb-4 border-2 border-zinc-200 bg-zinc-100 rounded-md" data-testid=`car-model-${item.id}`)
    div(class="grid grid-flow-col grid-cols-4 gap-4")
        - thumbnail = thumbnails.get(item.id)
        include ../nodes/thumbnail
        div(class="col-span-3")
            a(class="inline-block font-bold text-lg my-2 underline hover:no-underline" href=`/car-models/${item.id}`)
                span(aria-label="name") #{item.name}
            if item.internal_code
                span(aria-label="internal code")  (#{item.internal_code})
            - nodeProperties = node_properties
            include ../nodes/primary-properties
