include ../../shared/connected-nodes-section
- introTextParts = []
- if (magazineIssues.items.length === 1) introTextParts.push(`More Cars knows of one issue that has been released of the »${magazine.name}« magazine.`)
- if (magazineIssues.items.length > 1) introTextParts.push(`More Cars has collected information about ${magazineIssues.items.length} issues that have been released of the »${magazine.name}« magazine.`)
+connected-nodes-section(
    magazineIssues.items,
    'Magazine Issues',
    introTextParts.join(' '),
    magazineIssues.thumbnails,
    magazineIssues.node_properties,
)
