include ../../shared/connected-nodes-section
+connected-nodes-section(
    magazineIssues,
    'Magazine Issues',
    `The following issues have been released for the magazine "${magazine.name}".`,
    relationships.magazine_issues.thumbnails,
    relationships.magazine_issues.node_properties,
)
