- sectionHeadline = 'Magazine Issues'
- sectionIntro = `The following issues have been released for the magazine "${magazine.name}".`
- nodeType = 'magazine-issue'
- nodeUrlBasePath = 'magazine-issues'
- thumbnails = relationships.magazine_issues.thumbnails
- nodeProperties = relationships.magazine_issues.node_properties
- nodeItems = magazineIssues
- itemHeadlineProperty = 'title'
include ../../shared/connected-nodes-section
