extends ../../node-types/detail-page

block relationships
    - magazine = node.data.fields

    - magazineIssues = relationships.magazine_issues
    include connected-magazine-issues

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
