extends ../../node-types/detail-page

block relationships
    - magazine = node.data

    - magazineIssues = relationships.magazine_issues.items
    include connected-magazine-issues

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include ../../shared/connected-videos
