extends ../../node-types/detail-page

block sub_headline
    - magazine = node.data
    | #{magazine.founded}-#{magazine.defunct} | #{magazine.publisher}

block relationships
    - magazine = node.data

    - magazineIssues = relationships.magazine_issues.items
    include connected-magazine-issues

    - images = relationships.images.items
    include ../../shared/connected-images
