extends ../../node-types/detail-page

block sub_headline
    - brand = node.data
    div(class="mb-4 text-sm") #{brand.founded}-#{brand.defunct}

block relationships
    - brand = node.data

    - company = relationships.company.item
    include connected-company

    - carModels = relationships.car_models.items
    include connected-car-models

    - images = relationships.images.items
    - nodeProperties = relationships.images.node_properties
    include ../../nodes/connected-images-section
