extends ../../node-types/detail-page

block relationships
    - brand = node.data

    - company = relationships.company.item
    include connected-company

    - carModels = relationships.car_models.items
    include connected-car-models

    - images = relationships.images.items
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include connected-videos
