if node_collection.length === 0
    include ../../shared/nodes-not-found-warning
    +nodes-not-found-warning("brand")
else
    section(data-testid="brand-section")
        ul(class="grid lg:grid-cols-2 gap-x-8 gap-y-2")
            each nodeItem in node_collection
                - nodeType = 'brand'
                - nodeUrlPath = 'brands/' + nodeItem.id
                - thumbnail = thumbnails.get(nodeItem.id)
                - nodeProperties = node_properties
                include ../../shared/list-node-item

    include ../../shared/pagination
    +pagination('brands', pagination.page, pagination.total)
