extends ../../node-types/detail-page

block relationships
    - brand = node.data.fields

    - company = relationships.company
    include connected-company

    - carModels = relationships.car_models
    include connected-car-models

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
