include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModels.items,
    'Car Models',
    `More Cars knows of the following car models that were created under the brand name »${brand.name}«.`,
    carModels.thumbnails,
    carModels.node_properties,
)
