- sectionHeadline = 'Company'
- sectionIntro = `The following car models were created under the brand name ${brand.name}.`
- nodeType = 'car-model'
- nodeUrlBasePath = 'car-models'
- thumbnails = relationships.car_models.thumbnails
- nodeProperties = relationships.car_models.node_properties
- nodeItems = carModels
include ../../shared/connected-nodes-section
