include ../../shared/connected-nodes-section
+connected-nodes-section(
    [company],
    'Company',
    `The brand ${brand.name} is owned by the following company.`,
    'company',
    relationships.company.thumbnails,
    relationships.company.node_properties,
)
