if company.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [company.item],
        'Company',
        `The brand »${brand.name}« is owned by the company »${company.item.fields.name}«.`,
        company.thumbnails,
        company.node_properties,
    )
