- sectionHeadline = 'Company'
- sectionIntro = `The brand ${brand.name} is owned by the following company.`
- nodeType = 'company'
- nodeUrlBasePath = 'companies'
- thumbnails = relationships.company.thumbnails
- nodeProperties = relationships.company.node_properties
- nodeItems = [company]
include ../../shared/connected-nodes-section
