if carModels.length > 0
    section(data-testid="car-model-section" class="mb-8")
        h2(class="text-2xl mb-2") Car Models
        p(class="mb-4") The following #{carModels.length} car models wear the #[b #{brand.name}] badge:

        ul
            each nodeItem in carModels
                - nodeType = 'car-model'
                - nodeUrlPath = 'car-models/' + nodeItem.id
                - thumbnail = relationships.car_models.thumbnails.get(nodeItem.id)
                - nodeProperties = relationships.car_models.node_properties
                include ../list-node-item
