if company
    section(data-testid="company-section" class="mb-8")
        h2(class="text-2xl mb-2 border-b-2 border-lime-500") Company
        p(class="mb-4") The brand #[b #{brand.name}] is owned by the following company:

        ul
            - nodeItem = company
            - nodeType = 'company'
            - nodeUrlPath = 'companies/' + nodeItem.id
            - thumbnail = relationships.company.thumbnails.get(nodeItem.id)
            - nodeProperties = relationships.company.node_properties
            include ../../shared/list-node-item
