extends ../../node-types/detail-page

block relationships
    - carModel = node.data.fields

    - brand = relationships.brand
    include connected-brand

    - predecessor = relationships.predecessor
    include connected-predecessor

    - successor = relationships.successor
    include connected-successor

    - carModelVariants = relationships.car_model_variants
    include connected-car-model-variants

    - magazineIssues = relationships.magazine_issues
    include connected-magazine-issues

    - programmeEpisodes = relationships.programme_episodes
    include connected-programme-episodes

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
