extends ../../node-types/detail-page

block sub_headline
    - carModel = node.data
    div(class="mb-4 text-sm") #{carModel.built_from}-#{carModel.built_to} | #{ordinalize(carModel.generation)} generation (#{carModel.internal_code})

block relationships
    - carModel = node.data

    - brand = relationships.brand.item
    include connected-brand

    - predecessor = relationships.predecessor.item
    include connected-predecessor

    - successor = relationships.successor.item
    include connected-successor

    - images = relationships.images.items
    include ../../shared/connected-images
