extends ../../node-types/detail-page

block relationships
    - carModel = node.data

    - brand = relationships.brand.item
    include connected-brand

    - predecessor = relationships.predecessor.item
    include connected-predecessor

    - successor = relationships.successor.item
    include connected-successor

    - carModelVariants = relationships.car_model_variants.items
    include connected-car-model-variants

    - magazineIssues = relationships.magazine_issues.items
    include connected-magazine-issues

    - programmeEpisodes = relationships.programme_episodes.items
    include connected-programme-episodes

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include ../../shared/connected-videos
