if successor
    section(data-testid="successor-section" class="mb-8")
        h2(class="text-2xl mb-2") Successor
        p(class="mb-4") The #[b #{carModel.name}] was succeeded by the following car model:

        ul
            - nodeItem = successor
            - nodeType = 'car-model'
            - nodeUrlPath = 'car-models-/' + nodeItem.id
            - thumbnail = relationships.successor.thumbnails.get(nodeItem.id)
            - nodeProperties = relationships.successor.node_properties
            include ../../shared/list-node-item
