include ../../shared/connected-nodes-section
+connected-nodes-section(
    [predecessor],
    'Predecessor',
    `The ${carModel.name} is the successor of the following car model.`,
    'car-model',
    relationships.predecessor.thumbnails,
    relationships.predecessor.node_properties,
    null,
    'predecessor',
)
