- sectionHeadline = 'Brand'
- sectionIntro = `The ${carModel.name} is a car model from the following brand.`
- nodeType = 'brand'
- thumbnails = relationships.brand.thumbnails
- nodeProperties = relationships.brand.node_properties
- nodeItems = [brand]
include ../../shared/connected-nodes-section
