include ../../shared/connected-nodes-section
- introTextParts = []
- if (predecessor.item) introTextParts.push(`The »${carModel.name}« is the successor of the »${predecessor.item.fields.name}«.`)
+connected-nodes-section(
    [predecessor.item],
    'Predecessor',
    introTextParts.join(' '),
    'car-model',
    predecessor.thumbnails,
    predecessor.node_properties,
    'predecessor',
)
