include ../../shared/connected-nodes-section
+connected-nodes-section(
    [successor],
    'Successor',
    `The ${carModel.name} was succeeded by the following car model.`,
    'car-model',
    relationships.successor.thumbnails,
    relationships.successor.node_properties,
    null,
    'successor',
)
