if predecessor
    section(data-testid="predecessor-section" class="mb-8")
        h2(class="text-2xl mb-2") Predecessor
        p(class="mb-4") The #[b #{carModel.name}] is the successor of the following car model:

        ul
            - nodeItem = predecessor
            - nodeType = 'car-model'
            - nodeUrlPath = 'car-models-/' + nodeItem.id
            - thumbnail = relationships.predecessor.thumbnails.get(nodeItem.id)
            - nodeProperties = relationships.predecessor.node_properties
            include ../list-node-item
