include ../../shared/connected-nodes-section
- introTextParts = []
- if (carModelVariants.items.length === 1) introTextParts.push(`The More Cars database knows of one »${carModel.name}« variant.`)
- if (carModelVariants.items.length > 1) introTextParts.push(`The More Cars database has knowledge of ${carModelVariants.items.length} variants of the »${carModel.name}«.`)
+connected-nodes-section(
    carModelVariants.items,
    'Variants',
    introTextParts.join(' '),
    carModelVariants.thumbnails,
    carModelVariants.node_properties,
)
