- sectionHeadline = 'Successor'
- sectionIntro = `The ${carModel.name} was succeeded by the following car model.`
- nodeType = 'car-model'
- thumbnails = relationships.successor.thumbnails
- nodeProperties = relationships.successor.node_properties
- nodeItems = [successor]
- sectionName = 'successor'
include ../../shared/connected-nodes-section
