include ../../shared/connected-nodes-section
- introTextParts = []
- if (programmeEpisodes.items.length === 1) introTextParts.push(`More Cars knows of one episode that has featured the »${carModel.name}«.`)
- if (programmeEpisodes.items.length > 1) introTextParts.push(`More Cars knows of ${programmeEpisodes.items.length} episodes that have featured the »${carModel.name}«.`)
+connected-nodes-section(
    programmeEpisodes.items,
    'Programme Episodes',
    introTextParts.join(' '),
    programmeEpisodes.thumbnails,
    programmeEpisodes.node_properties,
)
