- sectionHeadline = 'Magazine Issues'
- sectionIntro = `The ${carModel.name} is presented in the following car magazine issues.`
- nodeType = 'magazine-issue'
- thumbnails = relationships.magazine_issues.thumbnails
- nodeProperties = relationships.magazine_issues.node_properties
- nodeItems = magazineIssues
- itemHeadlineProperty = 'title'
include ../../shared/connected-nodes-section
