if brand.item
    include ../../shared/connected-nodes-section
    - introTextParts = []
    - if (brand.item) introTextParts.push(`The »${carModel.name}« is a car model from »${brand.item.fields.name}«.`)
    +connected-nodes-section(
        [brand.item],
        'Brand',
        introTextParts.join(' '),
        brand.thumbnails,
        brand.node_properties,
    )
