include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModelVariants,
    'Variants',
    `There exist the following variants of the ${carModel.name}.`,
    'car-model-variant',
    relationships.car_model_variants.thumbnails,
    relationships.car_model_variants.node_properties,
)
