if predecessor.item
    include ../../shared/connected-nodes-section
    - introTextParts = []
    - if (predecessor.item) introTextParts.push(`The »${carModel.name}« is the successor of the »${predecessor.item.fields.name}«.`)
    +connected-nodes-section(
        [predecessor.item],
        'Predecessor',
        introTextParts.join(' '),
        predecessor.thumbnails,
        predecessor.node_properties,
        'predecessor',
    )
