include ../../shared/connected-nodes-section
+connected-nodes-section(
    magazineIssues,
    'Magazine Issues',
    `The ${carModel.name} is presented in the following car magazine issues.`,
    'magazine-issue',
    relationships.magazine_issues.thumbnails,
    relationships.magazine_issues.node_properties,
    'title',
)
