- sectionHeadline = 'Programme Episodes'
- sectionIntro = `This model was covered by the following car programme episodes.`
- nodeType = 'programme-episode'
- nodeUrlBasePath = 'programme-episodes'
- thumbnails = relationships.programme_episodes.thumbnails
- nodeProperties = relationships.programme_episodes.node_properties
- nodeItems = programmeEpisodes
- itemHeadlineProperty = 'title'
include ../../shared/connected-nodes-section
