include ../../shared/connected-nodes-section
- introTextParts = []
- if (magazineIssues.items.length === 1) introTextParts.push(`More Cars knows of one magazine issue that has published an article about the »${carModel.name}«.`)
- if (magazineIssues.items.length > 1) introTextParts.push(`More Cars knows of ${magazineIssues.items.length} magazine issues that had an article about the »${carModel.name}«.`)
+connected-nodes-section(
    magazineIssues.items,
    'Magazine Issues',
    introTextParts.join(' '),
    'magazine-issue',
    magazineIssues.thumbnails,
    magazineIssues.node_properties,
)
