- sectionHeadline = 'Predecessor'
- sectionIntro = `The ${carModel.name} is the successor of the following car model.`
- nodeType = 'car-model'
- nodeUrlBasePath = 'car-models'
- thumbnails = relationships.predecessor.thumbnails
- nodeProperties = relationships.predecessor.node_properties
- nodeItems = [predecessor]
include ../../shared/connected-nodes-section
