li(aria-label="company" class="mb-4 bg-stone-100 rounded-md inset-shadow-sm" data-testid=`company-${item.id}`)
    div(class="grid grid-flow-col grid-cols-4 gap-4")
        include ../nodes/thumbnail
        div(class="col-span-3")
            a(class="inline-block font-bold text-xl mt-3 underline" href=`/companies/${item.id}`)
                span(aria-label="name") #{item.name}
            include ../nodes/primary-properties
