extends ../../layouts/base/layout

block main
    - company = node.data
    div(class="grid grid-cols-2 gap-8 items-start")
        div
            h1(class=`text-left mb-1 text-3xl font-bold`) #{company.name}
            div(class="mb-4 text-sm") #{company.founded}-#{company.defunct}

            - mainImage = node.main_image
            include ../nodes/connected-main-image

            - item = company
            include ../nodes/fact-sheet

block footer
    p Footer area...
