extends ../../layouts/base/layout

block main
    h1(
        aria-label="brand name"
        class=`text-center
        mb-8
        text-3xl
        font-bold`) #{node.name}
    div(class="grid grid-cols-2 gap-4 items-start")
        div
            include ../nodes/fact-sheet
        div
            include connected-main-image
            include connected-car-models
            include connected-images

block footer
    p Footer area...
