extends ../../layouts/base/layout

block main
    h1(class=`
        max-w-160
        m-auto
        mb-4
        text-3xl
        font-bold
        underline`) All Brands
    include brand-list

block footer
    p Footer area...

block debug
    div(class="absolute bottom-0 right-0 p-4 border-2 border-purple-200 text-purple-600")
        p #{nodeCollection.length} items loaded
