extends ../../layouts/base/layout

block main
    h1(class=`
        text-center
        mb-8
        text-3xl
        font-bold
        underline`) All Brands
    include brand-list

block footer
    p Footer area...
