extends ../../layouts/base/layout

block main
    - brand = node.data
    div(class="grid grid-cols-2 gap-8 items-start")
        div(data-testid="main-area-primary")
            h1(class=`text-left mb-1 text-3xl font-bold`) #{brand.name}
            div(class="mb-4 text-sm") #{brand.founded}-#{brand.defunct}

            - mainImage = node.main_image
            include ../nodes/connected-main-image

            - item = brand
            include ../nodes/fact-sheet
        div(data-testid="main-area-secondary")
            - carModels = relationships.car_models.items
            include connected-car-models

            - images = relationships.images.items
            - nodeProperties = relationships.images.node_properties
            include ../nodes/connected-images-section

block footer
    p Footer area...
