extends ../../node-types/detail-page

block sub_headline
    - company = node.data
    div(class="mb-4 text-sm") #{company.founded}-#{company.defunct}

block relationships
    - company = node.data

    - brands = relationships.brands.items
    include connected-brands

    - images = relationships.images.items
    include ../connected-images
