if node_collection.length === 0
    include ../../shared/nodes-not-found-warning
    +nodes-not-found-warning("company")
else
    section(data-testid="company-section")
        ul(class="grid lg:grid-cols-2 gap-x-8 gap-y-2")
            each nodeItem in node_collection
                - nodeType = 'company'
                - nodeUrlPath = 'companies/' + nodeItem.id
                - thumbnail = thumbnails.get(nodeItem.id)
                - nodeProperties = node_properties
                include ../../shared/list-node-item

    include ../../shared/pagination
    +pagination('companies', pagination.page, pagination.total)
