extends ../../node-types/detail-page

block relationships
    - company = node.data.fields

    - brands = relationships.brands
    include connected-brands

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
