- sectionHeadline = 'Brand'
- sectionIntro = `The following brands are owned by the company ${company.name}.`
- nodeType = 'brand'
- thumbnails = relationships.brands.thumbnails
- nodeProperties = relationships.brands.node_properties
- nodeItems = brands
include ../../shared/connected-nodes-section
