include ../../shared/connected-nodes-section
+connected-nodes-section(
    brands,
    'Brand',
    `The following brands are owned by the company ${company.name}.`,
    'brand',
    relationships.brands.thumbnails,
    relationships.brands.node_properties,
)
