extends ../../node-types/detail-page

block relationships
    - book = node.data.fields

    - carModelVariants = relationships.car_model_variants
    include connected-car-model-variants

    - images = relationships.images
    include ../../shared/connected-images
