include ../../shared/connected-nodes-section
+connected-nodes-section(
    carModelVariants.items,
    'Car Model Variants',
    `The following cars are covered in this book.`,
    carModelVariants.thumbnails,
    carModelVariants.node_properties,
)
