include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingEvents,
    'Racing Events',
    `The following racing events were performed as part of the racing series ${racingSeries.name}.`,
    'racing-event',
    relationships.racing_events.thumbnails,
    relationships.racing_events.node_properties,
)
