include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingEvents.items,
    'Racing Events',
    `The following events were part of the racing series »${racingSeries.name}«.`,
    racingEvents.thumbnails,
    racingEvents.node_properties,
)
