extends ../../node-types/detail-page

block relationships
    - racingSeries = node.data.fields

    - racingEvents = relationships.racing_events
    include connected-racing-events

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
