extends ../../node-types/detail-page

block sub_headline
    - racingSeries = node.data
    div(class="mb-4 text-sm") #{racingSeries.short_name} | #{racingSeries.founded} - #{racingSeries.defunct}

block relationships
    - racingSeries = node.data

    - racingEvents = relationships.racing_events.items
    include connected-racing-events

    - images = relationships.images.items
    include ../../shared/connected-images
