include ../../shared/connected-nodes-section
- introTextParts = []
- if (nodes.items.length === 1) introTextParts.push(`This video is connected to the following node.`)
- if (nodes.items.length > 1) introTextParts.push(`This video is connected to the following nodes.`)
+connected-nodes-section(
    nodes.items,
    'Nodes',
    introTextParts.join(' '),
    nodes.thumbnails,
    nodes.node_properties,
    'node',
)
