- sectionHeadline = 'Model Cars'
- sectionIntro = `The following scale model were created by ${modelCarBrand.name}.`
- nodeType = 'model-car'
- thumbnails = relationships.model_cars.thumbnails
- nodeProperties = relationships.model_cars.node_properties
- nodeItems = modelCars
include ../../shared/connected-nodes-section
