include ../../shared/connected-nodes-section
+connected-nodes-section(
    modelCars.items,
    'Model Cars',
    `»${modelCarBrand.name}« created, among others the following scale models.`,
    modelCars.thumbnails,
    modelCars.node_properties,
)
