include ../../shared/connected-nodes-section
+connected-nodes-section(
    modelCars,
    'Model Cars',
    `The following scale model were created by ${modelCarBrand.name}.`,
    'model-car',
    relationships.model_cars.thumbnails,
    relationships.model_cars.node_properties,
)
