extends ../../node-types/detail-page

block sub_headline
    - modelCarBrand = node.data
    | #{modelCarBrand.founded} - #{modelCarBrand.defunct}

block relationships
    - modelCarBrand = node.data
    - modelCars = relationships.model_cars.items
    include connected-model-cars
