extends ../../node-types/detail-page

block relationships
    - modelCarBrand = node.data.fields

    - modelCars = relationships.model_cars
    include connected-model-cars

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
