extends ../../node-types/detail-page

block sub_headline
    - modelCarBrand = node.data
    | #{modelCarBrand.founded} - #{modelCarBrand.defunct}

block relationships
    - modelCarBrand = node.data
