extends ../../node-types/detail-page

block relationships
    - modelCarBrand = node.data

    - modelCars = relationships.model_cars.items
    include connected-model-cars

    - images = relationships.images.items
    include ../../shared/connected-images
