include ../../shared/connected-nodes-section
+connected-nodes-section(
    [carModelVariant.item],
    'Car Model Variant',
    `This is the official price tag for the car model variant »${carModelVariant.item.fields.name}«.`,
    carModelVariant.thumbnails,
    carModelVariant.node_properties,
)
