- sectionHeadline = 'Car Model Variant'
- sectionIntro = `This is the official price for the following car model variant.`
- nodeType = 'car-model-variant'
- nodeUrlBasePath = 'car-model-variants'
- thumbnails = relationships.car_model_variant.thumbnails
- nodeProperties = relationships.car_model_variant.node_properties
- nodeItems = [carModelVariant]
include ../../shared/connected-nodes-section
