extends ../../node-types/detail-page

block relationships
    - price = node.data

    - carModelVariant = relationships.car_model_variant.item
    include connected-car-model-variant

    - images = relationships.images.items
    include ../../shared/connected-images
