extends ../../node-types/detail-page

block sub_headline
    - price = node.data
    | #{price.price_year} | #{price.country_code}

block relationships
    - price = node.data

    - carModelVariant = relationships.car_model_variant.item
    include connected-car-model-variant
