include ../../shared/connected-nodes-section
+connected-nodes-section(
    programmeEpisodes.items,
    'Programme Episodes',
    `More Cars knows of the following episodes of the car programme »${programme.name}«.`,
    programmeEpisodes.thumbnails,
    programmeEpisodes.node_properties,
)
