include ../../shared/connected-nodes-section
+connected-nodes-section(
    programmeEpisodes,
    'Programme Episodes',
    `The "${programme.name}" has the following "programme episodes".`,
    'programme-episode',
    relationships.programme_episodes.thumbnails,
    relationships.programme_episodes.node_properties,
)
