extends ../../node-types/detail-page

block relationships
    - programme = node.data.fields

    - programmeEpisodes = relationships.programme_episodes
    include connected-programme-episodes

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
