extends ../../node-types/detail-page

block sub_headline
    - programme = node.data
    | #{programme.aired_from_year} - #{programme.aired_until_year}

block relationships
    - programme = node.data

    - programmeEpisodes = relationships.programme_episodes.items
    include connected-programme-episodes
