extends ../../node-types/detail-page

block relationships
    - programme = node.data

    - programmeEpisodes = relationships.programme_episodes.items
    include connected-programme-episodes

    - images = relationships.images.items
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include connected-videos
