section(data-testid="lead-video")
    div(class="w-full aspect-video")
        iframe(class="w-full h-full" src=`https://www.youtube-nocookie.com/embed/${mainVideo.fields.external_id}?rel=0`, allowfullscreen)
