- sectionHeadline = 'Image Gallery'
- sectionIntro = `There are ${images.length} images available for the ${node.data.name}.`
- nodeType = 'image'
- nodeProperties = relationships.images.node_properties
- nodeItems = images
include connected-nodes-section
