include connected-nodes-section
+connected-nodes-section(
    images,
    'Image Gallery',
    `There are ${images.length} images available for this node.`,
    'image',
    relationships.images.thumbnails,
    relationships.images.node_properties,
)
