include connected-nodes-section
+connected-nodes-section(
    videos,
    'Videos',
    `There are ${videos.length} videos available for this node.`,
    'video',
    relationships.videos.thumbnails,
    relationships.videos.node_properties,
    'title',
)
