include connected-nodes-section
- introTextParts = []
- if (videos.items.length === 1) introTextParts.push(`There is currently one video attached to this node.`)
- if (videos.items.length > 1) introTextParts.push(`There are ${videos.items.length} videos attached to this node.`)
+connected-nodes-section(
    videos.items,
    'Videos',
    introTextParts.join(' '),
    'video',
    videos.thumbnails,
    videos.node_properties,
)
