include connected-nodes-section
- introTextParts = []
- if (images.items.length === 1) introTextParts.push(`There is currently one image attached to this node.`)
- if (images.items.length > 1) introTextParts.push(`There are ${images.items.length} images attached to this node.`)
+connected-nodes-section(
    images.items,
    'Image Gallery',
    introTextParts.join(' '),
    'image',
    images.thumbnails,
    images.node_properties,
)
