- sectionHeadline = 'Image Gallery'
- sectionIntro = `There are ${images.length} images available for this node.`
- nodeType = 'image'
- nodeProperties = relationships.images.node_properties
- nodeItems = images
include connected-nodes-section
