section(class="rounded-2xl max-w-150 m-auto mb-8" data-testid="lead-image")
    img(src=`${mainImage && mainImage.image_url_m ? mainImage.image_url_m : '/g/no-image.webp'}` class="rounded-2xl m-auto border border-gray-200 p-1")
