footer(class="max-w-7xl mx-auto text-blue-50 p-8")
    ul(class="flex flew-row gap-12")
        li
            h2(class="font-sans text-xl font-bold mb-2") About
            p More Cars is an open car database. The provided data can be used for free, for any purpose.
            nav(aria-label="Social Media Links")
                ul(class="mt-4")
                    li(class="inline-block")
                        a(href="/" aria-label="More Cars start page")
                            img(class="h-12 border-2 border-white rounded-md p-1 mr-4" src="/g/favicon.svg" alt="")
                    li(class="inline-block")
                        a(href="https://www.flickr.com/photos/more-cars/" aria-label="More Cars photos at Flickr")
                            img(class="h-12 border-2 border-white rounded-md p-1 mr-4" src="/g/flickr.svg" alt="")
                    li(class="inline-block")
                        a(href="https://www.youtube.com/@more-cars" aria-label="More Cars videos at YouTube")
                            img(class="h-12 border-2 border-white rounded-md p-1 mr-4" src="/g/youtube.svg" alt="")

        li
            h2(class="font-sans text-xl font-bold mb-2") Top Pages
            nav(aria-label="Top Links")
                ul
                    li(class="relative before:content-['🛞'] before:absolute before:-ml-6 before:opacity-0 hover:before:opacity-100 before:transition")
                        a(href="/car-model-variants") Car Model Variants
                    li(class="relative before:content-['🛞'] before:absolute before:-ml-6 before:opacity-0 hover:before:opacity-100 before:transition")
                        a(href="/racing-events") Racing Events
                    li(class="relative before:content-['🛞'] before:absolute before:-ml-6 before:opacity-0 hover:before:opacity-100 before:transition")
                        a(href="/magazine-issues") Magazine Issues
        li
            h2(class="font-sans text-xl font-bold mb-2") Legal
            nav(aria-label="legal-links")
                ul
                    li(class="relative before:content-['🖋️️'] before:absolute before:-ml-6 before:opacity-0 hover:before:opacity-100 before:transition")
                        a(href="/contact") Contact / Impressum
                    li(class="relative before:content-['🖋️'] before:absolute before:-ml-6 before:opacity-0 hover:before:opacity-100 before:transition")
                        a(href="/privacy") Privacy Policy / Datenschutz
