ul(data-testid="prime-data")
    each prop in primaryProperties
        if prop.is_primary && prop.name !== "name"
            li(class="text-xs inline-block px-1 py-0.5")
                b #{prop.label}:
                span  #{item[prop.name]}
