if thumbnail && thumbnail['image_url_s']
    img(src=`${thumbnail['image_url_s']}` class="col-span-1 h-full object-cover rounded-l-2xl")
else
    img(src='/g/no-image.webp' class="col-span-1 h-full object-cover rounded-l-2xl")
