if racingSeries.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [racingSeries.item],
        'Racing Series',
        `The event »${racingEvent.name}« was part of the racing series »${racingSeries.item.fields.name}«.`,
        racingSeries.thumbnails,
        racingSeries.node_properties,
    )
