include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingSessions,
    'Racing Sessions',
    `The following sessions were part of the "${racingEvent.name}".`,
    'racing-session',
    relationships.racing_sessions.thumbnails,
    relationships.racing_sessions.node_properties,
)
