- sectionHeadline = 'Successor'
- sectionIntro = `The ${racingEvent.name} took place before the following racing event.`
- nodeType = 'racing-event'
- thumbnails = relationships.successor.thumbnails
- nodeProperties = relationships.successor.node_properties
- nodeItems = [successor]
- sectionName = 'successor'
include ../../shared/connected-nodes-section
