include ../../shared/connected-nodes-section
+connected-nodes-section(
    [raceTrack],
    'Race Track',
    `The event ${racingEvent.name} took place at the following race track.`,
    relationships.race_track.thumbnails,
    relationships.race_track.node_properties,
)
