if successor.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [successor.item],
        'Successor',
        `This event was followed by the »${successor.item.fields.name}«.`,
        successor.thumbnails,
        successor.node_properties,
        'successor',
    )
