include ../../shared/connected-nodes-section
+connected-nodes-section(
    [successor],
    'Successor',
    `The ${racingEvent.name} took place before the following racing event.`,
    'racing-event',
    relationships.successor.thumbnails,
    relationships.successor.node_properties,
    'successor',
)
