if racingSessions.length > 0
    section(data-testid="racing-session-section" class="mb-8")
        h2(class="text-2xl mb-2 border-b-2 border-lime-500") Racing Sessions
        p(class="mb-4") The racing event #[b #{racingEvent.name}] consisted of the following #{racingSessions.length} sessions:

        ul
            each nodeItem in racingSessions
                - nodeType = 'racing-session'
                - nodeUrlPath = 'racing-sessions/' + nodeItem.id
                - thumbnail = relationships.racing_sessions.thumbnails.get(nodeItem.id)
                - nodeProperties = relationships.racing_sessions.node_properties
                include ../../shared/list-node-item
