if predecessor.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [predecessor.item],
        'Predecessor',
        `This event took place after the »${predecessor.item.fields.name}«.`,
        predecessor.thumbnails,
        predecessor.node_properties,
        'predecessor',
    )
