include ../../shared/connected-nodes-section
+connected-nodes-section(
    racingSessions.items,
    'Racing Sessions',
    `The following sessions were part of this event.`,
    racingSessions.thumbnails,
    racingSessions.node_properties,
)
