- sectionHeadline = 'Racing Series'
- sectionIntro = `The racing event ${racingEvent.name} was part of the following racing series.`
- nodeType = 'racing-series'
- nodeUrlBasePath = 'racing-series'
- thumbnails = relationships.racing_series.thumbnails
- nodeProperties = relationships.racing_series.node_properties
- nodeItems = [racingSeries]
include ../../shared/connected-nodes-section
