include ../../shared/connected-nodes-section
+connected-nodes-section(
    magazineIssues,
    'Magazine Issues',
    `The ${racingEvent.name} was covered by the following car magazines.`,
    'magazine-issue',
    relationships.magazine_issues.thumbnails,
    relationships.magazine_issues.node_properties,
    'title',
)
