if trackLayout.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [trackLayout.item],
        'Track Layout',
        `This event was performed on the »${trackLayout.item.fields.name}« layout of the »${raceTrack.item.fields.name}«.`,
        trackLayout.thumbnails,
        trackLayout.node_properties,
    )
