include ../../shared/connected-nodes-section
+connected-nodes-section(
    magazineIssues.items,
    'Magazine Issues',
    `The following car magazine issues covered the event.`,
    magazineIssues.thumbnails,
    magazineIssues.node_properties,
)
