if raceTrack.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [raceTrack.item],
        'Race Track',
        `The race track »${raceTrack.item.fields.name}« hosted this event.`,
        raceTrack.thumbnails,
        raceTrack.node_properties,
    )
