- sectionHeadline = 'Race Track'
- sectionIntro = `The event ${racingEvent.name} took place at the following race track.`
- nodeType = 'race-track'
- nodeUrlBasePath = 'race-tracks'
- thumbnails = relationships.race_track.thumbnails
- nodeProperties = relationships.race_track.node_properties
- nodeItems = [raceTrack]
include ../../shared/connected-nodes-section
