- sectionHeadline = 'Racing Sessions'
- sectionIntro = `The following sessions were part of the "${racingEvent.name}".`
- nodeType = 'racing-session'
- thumbnails = relationships.racing_sessions.thumbnails
- nodeProperties = relationships.racing_sessions.node_properties
- nodeItems = racingSessions
include ../../shared/connected-nodes-section
