- sectionHeadline = 'Predecessor'
- sectionIntro = `The ${racingEvent.name} took place after the following racing event.`
- nodeType = 'racing-event'
- nodeUrlBasePath = 'racing-events'
- thumbnails = relationships.predecessor.thumbnails
- nodeProperties = relationships.predecessor.node_properties
- nodeItems = [predecessor]
- sectionName = 'predecessor'
include ../../shared/connected-nodes-section
