- sectionHeadline = 'Track Layout'
- sectionIntro = `The event ${racingEvent.name} was performed on the following layout.`
- nodeType = 'track-layout'
- nodeUrlBasePath = 'track-layouts'
- thumbnails = relationships.track_layout.thumbnails
- nodeProperties = relationships.track_layout.node_properties
- nodeItems = [trackLayout]
include ../../shared/connected-nodes-section
