include ../../shared/connected-nodes-section
+connected-nodes-section(
    [racingSeries],
    'Racing Series',
    `The racing event ${racingEvent.name} was part of the following racing series.`,
    relationships.racing_series.thumbnails,
    relationships.racing_series.node_properties,
)
