include ../../shared/connected-nodes-section
+connected-nodes-section(
    [trackLayout],
    'Track Layout',
    `The event ${racingEvent.name} was performed on the following layout.`,
    'track-layout',
    relationships.track_layout.thumbnails,
    relationships.track_layout.node_properties,
)
