extends ../../node-types/detail-page

block relationships
    - racingEvent = node.data

    - racingSeries = relationships.racing_series.item
    include connected-racing-series

    - predecessor = relationships.predecessor.item
    include connected-predecessor

    - successor = relationships.successor.item
    include connected-successor

    - raceTrack = relationships.race_track.item
    include connected-race-track

    - trackLayout = relationships.track_layout.item
    include connected-track-layout

    - racingSessions = relationships.racing_sessions.items
    include connected-racing-sessions

    - magazineIssues = relationships.magazine_issues.items
    include connected-magazine-issues

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include ../../shared/connected-videos
