extends ../../node-types/detail-page

block relationships
    - racingEvent = node.data.fields

    - racingSeries = relationships.racing_series
    include connected-racing-series

    - racingSessions = relationships.racing_sessions
    include connected-racing-sessions

    - raceTrack = relationships.race_track
    include connected-race-track

    - trackLayout = relationships.track_layout
    include connected-track-layout

    - predecessor = relationships.predecessor
    include connected-predecessor

    - successor = relationships.successor
    include connected-successor

    - magazineIssues = relationships.magazine_issues
    include connected-magazine-issues

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
