extends ../../node-types/detail-page

block sub_headline
    - racingEvent = node.data
    div(class="mb-4 text-sm") #{formatDate(racingEvent.date_from)} - #{formatDate(racingEvent.date_to)}

block relationships
    - racingEvent = node.data

    - racingSeries = relationships.racing_series.item
    include connected-racing-series

    - predecessor = relationships.predecessor.item
    include connected-predecessor

    - successor = relationships.successor.item
    include connected-successor

    - raceTrack = relationships.race_track.item
    include connected-race-track

    - trackLayout = relationships.track_layout.item
    include connected-track-layout

    - images = relationships.images.items
    include ../../shared/connected-images
