extends ../../layouts/base/layout

block main
    include latest-additions

    p(class="m-4 mb-8 mx-12 p-4 border-l-4 border-l-lime-500" data-testid="intro")
        | More Cars is an open car database.
        | It provides car-related information from different perspectives.
        | The data ranges from the technical data of the cars and its variants itself,
        | to the car magazines that have tested them,
        | to their successes in motorsport,
        | the racing games that feature them,
        | and much more.

    include node-type-overview
