- sectionHeadline = 'Racing Event'
- sectionIntro = `This racing session was part of the following racing event.`
- nodeType = 'racing-event'
- nodeUrlBasePath = 'racing-events'
- thumbnails = relationships.racing_event.thumbnails
- nodeProperties = relationships.racing_event.node_properties
- nodeItems = [racingEvent]
include ../../shared/connected-nodes-section
