if racingEvent.item
    include ../../shared/connected-nodes-section
    +connected-nodes-section(
        [racingEvent.item],
        'Racing Event',
        `This session was part of the racing event »${racingEvent.item.fields.name}«.`,
        racingEvent.thumbnails,
        racingEvent.node_properties,
    )
