include ../../shared/connected-nodes-section
+connected-nodes-section(
    sessionResults,
    'Session Results',
    `The following results were achieved in this racing session.`,
    'session-result',
    relationships.session_results.thumbnails,
    relationships.session_results.node_properties,
)
