include ../../shared/connected-nodes-section
+connected-nodes-section(
    [racingEvent],
    'Racing Event',
    `This racing session was part of the following racing event.`,
    relationships.racing_event.thumbnails,
    relationships.racing_event.node_properties,
)
