extends ../../node-types/detail-page

block sub_headline
    - racingSession = node.data
    div(class="mb-4 text-sm") #{formatDate(racingSession.start_date)} | #{racingSession.duration} #{racingSession.duration_unit}

block relationships
    - racingSession = node.data

    - racingEvent = relationships.racing_event.item
    include connected-racing-event

    - images = relationships.images.items
    include ../../shared/connected-images
