extends ../../node-types/detail-page

block relationships
    - racingSession = node.data

    - racingEvent = relationships.racing_event.item
    include connected-racing-event

    - sessionResults = relationships.session_results.items
    include connected-session-results

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos.items
    include ../../shared/connected-videos
