extends ../../node-types/detail-page

block relationships
    - racingSession = node.data.fields

    - racingEvent = relationships.racing_event
    include connected-racing-event

    - sessionResults = relationships.session_results
    include connected-session-results

    - images = relationships.images
    include ../../shared/connected-images

    - videos = relationships.videos
    include ../../shared/connected-videos
